* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 85%;
  margin: 0 auto;
  /* background-color: red; */
}

.header-page {
  width: 100%;
  height: 194px;
  position: relative;
  z-index: 1;
  /* background-color: blue; */
}
.header-page .container .top-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0 25px 0;
}
.header-page .container .top-page .icons {
  display: flex;
  align-items: center;
}
.header-page .container .top-page .icons li {
  margin-right: 25px;
}
.header-page .container .top-page .icons li a {
  color: #929292;
  display: inline-block;
  font-size: 14px;
}
.header-page .container .top-page .logo {
  width: 107px;
}
.header-page .container .top-page .logo img {
  max-width: 100%;
}
.header-page .container .top-page .cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-page .container .top-page .cart .header-search {
  margin-left: 50px;
  cursor: pointer;
}
.header-page .container .top-page .cart .header-cart {
  position: relative;
  margin-left: 30px;
}
.header-page .container .top-page .cart .header-cart i {
  font-size: 22px;
}
.header-page .container .top-page .cart .header-cart span {
  position: absolute;
  right: -6px;
  top: -6px;
  color: #ee3333;
  text-align: center;
  font-size: 12px;
}
.header-page .container .menu-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-page .container .menu-page .container .main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-page .container .menu-page .container .main-menu .navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-page .container .menu-page .container .main-menu .navLinks .links {
  font-size: 13px;
  line-height: 14px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #292929;
  text-transform: uppercase;
  display: block;
  padding: 40px 0 40px 0;
  margin: 0 37px 0 0;
  position: relative;
}
.header-page .container .menu-page .container .main-menu .navLinks .links a {
  color: #292929;
}

.banner {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
}
.banner .banner-img {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.banner .banner-img img {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .content {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.banner .content h3 {
  font-family: "Poppins", "sans-serif";
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: #292929;
}
.banner .content h1 {
  font-size: 40px;
  font-weight: 500;
}
.banner .content .button {
  text-align: center;
  background-color: transparent;
  color: #292929;
  border: 2px solid #292929;
  font-size: 15px;
  height: 55px;
  width: 170px;
  line-height: 51px;
  font-weight: 500;
  padding: 0px 35px;
  text-transform: uppercase;
  border-radius: 0px;
  transition: all 0.3s ease 0s;
}
.banner .content .button:hover {
  color: white;
  background-color: #ee3333;
  border-color: #ee3333;
}

.responsive {
  width: 100%;
  height: 70px;
  position: relative;
  z-index: 1;
  display: none;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.responsive .container .top-page {
  width: 671px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.responsive .container .top-page .logo {
  width: 107px;
}
.responsive .container .top-page .logo img {
  max-width: 100%;
}
.responsive .container .top-page .cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.responsive .container .top-page .cart .header-cart {
  position: relative;
  margin-right: 30px;
}
.responsive .container .top-page .cart .header-cart i {
  font-size: 22px;
}
.responsive .container .top-page .cart .header-cart span {
  position: absolute;
  right: -6px;
  top: -6px;
  color: #ee3333;
  text-align: center;
  font-size: 12px;
}
.responsive .container .top-page .cart .burger-button {
  font-size: 22px;
  border: none;
  background: none;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .main .header-page {
    display: none;
  }
  .responsive {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */